nextflow.enable.dsl = 2

params {
    xenium_dir      = null
    sample_id       = null
    outdir_zarr     = 'output/nextflow/zarr'
    outdir_reseg    = 'output/nextflow/resegmentation'
    outdir_h5ad     = 'output/nextflow/h5ad'
    outdir_coords   = 'output/nextflow/tissue_coords'
    outdir_programs = 'output/nextflow/cnmf'
    containerdir    = System.getenv('CONTAINERDIR') ?: '/opt/containers'
    cpus            = 1
    mem             = '6 GB' 
    time            = '100m'
    queue           = 'cpu'
    cluster_opts    = ''
}

process {
    executor      = 'slurm'  
    maxForks      = 50    
    errorStrategy = 'retry'
    maxRetries    = 1       
    queueSize     = 100     
}

singularity {
    enabled      = true
    autoMounts   = true
    runOptions   = '--bind $PROJECTDIR,/scratch'
    envWhitelist = 'NUMBA_CACHE_DIR,MPLCONFIGDIR,TMPDIR,XDG_CACHE_HOME'
}
