nextflow.enable.dsl = 2

params {
    xenium_dir      = null // A collection of paths to the 10x Xenium output directories

    // Output layout (relative to the pipeline launch directory)
    outdir_root     = 'output/nextflow'
    outdir_zarr     = '00_zarr'
    outdir_reseg    = '01_resegment_cells'
    outdir_coords   = '02_tissue_coords'
    outdir_h5ad     = '03_h5ad'
    outdir_programs = '04_cnmf'
    containerdir    = System.getenv('CONTAINERDIR')
    
    // Global resource defaults
    cpus            = 1
    mem             = '6 GB' 
    time            = '100m'
    queue           = 'cpu'
    cluster_opts    = ''
    
    // ---------- Step parameters ----------
    // Cell segmentation
    transcript_patches = [ // This config is ignored for proseg
        patch_width: 1000,
        patch_overlap: 50,
        min_points_per_patch: 8000,
        prior_shapes_key: "nucleus_boundaries"
    ]
    cell_segment_method = 'baysor' // Allowed: 'baysor', 'proseg'. ProSeg doesn't support configuration.
    baysor = [ // Supports any baysor configs (read more on https://kharchenkolab.github.io/Baysor/dev/segmentation/)
        data: [
            x: "x",
            y: "y",
            z: "z",
            force_2d: true,
            gene: "feature_name",
            min_molecules_per_gene: 0,
            exclude_genes: "NegControl*,BLANK_*,antisense_*",
            min_molecules_per_cell: 10,
            confidence_nn_id: 6,
        ],
        segmentation: [
            scale: 2,
            scale_std: "50%",
            n_clusters: 4,
            prior_segmentation_confidence: 0.95,
            estimate_scale_from_centers: false,
        ]
    ]

    // Tissue detection
    detect_tissue_kernel_size = 100 // Kernel size (pixels) used to smooth the tissue mask

    // Program identification (cNMF)
    cnmf_components = '7,30'   // Min/max number of components (K) in cNMF as comma-separated integers (no spaces)
    cnmf_n_iter     = 50       // cNMF iterations per K
    cnmf_n_highvar  = 3000     // Number of highly variable genes/features
    seed            = 0        // Random seed
}

process {
    executor      = 'slurm'  
    maxForks      = 50    
    errorStrategy = 'retry'
    maxRetries    = 1       
    queueSize     = 100     
}

singularity {
    enabled      = true
    autoMounts   = true
    runOptions   = '--bind $PROJECTDIR,/scratch'
    envWhitelist = 'NUMBA_CACHE_DIR,MPLCONFIGDIR,TMPDIR,XDG_CACHE_HOME'
}
