process {
    withName: CONVERT_XENIUM {
        cpus   = 8
        memory = '128 GB'
        time   = '30m'
    }
    withName: RESEGMENT_CELLS {
        cpus   = 16
        memory = '64 GB'
        time   = '6h'
    }
    withName: DETECT_TISSUE {
        cpus   = 8
        memory = '32 GB'
        time   = '10m'
    }
    withName: SPLIT_SAMPLES {
        cpus   = 8
        memory = '128 GB'
        time   = '60m'
    }
    withName: IDENTIFY_PROGRAMS {
        cpus   = 16
        memory = '32 GB'
        time   = '6 h'
    }
}